.navbar-brand {
  margin-top: 0;
  background: transparent url("../images/logo.png") no-repeat;
  width: 165px;
  background-size: contain;
  z-index: 100;
  position: relative;
}

.nav-username {
  color: #ffffff;
  line-height: 20px;
  margin: 0 25px 5px 0;
  font-size: 12px;
}
