.navbar-brand {
  margin-top: 0;
  background: transparent url("../images/logo.png") no-repeat;
  width: 165px;
  background-size: contain;
  z-index: 100;
  position: relative;
}

.nav-username {
  color: #ffffff;
  line-height: 50px;
  margin-right: 25px;
}
