.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
}

.axis--y .tick:not(.tick--one) line {
  stroke-opacity: .15;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 70px;
  min-height: 42px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
