.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .tick line,
.axis--x .domain {
  stroke-opacity: .15;
}

.axis--x {
  stroke-width: 2px;
}

.axis--y .domain {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.rect {
  z-index: 100;
}

#shadow {
  z-index: 1;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  min-height: 42px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  opacity: .5;
  border-style: groove;
  border-width: 3px;
  border-radius: 3px;
  pointer-events: none;
}
