/app/scripts/services/settings.js
/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
.bower
.cache
.config
.npm
.idea
.DS_Store
/installed_versions_20170312_working.txt
/installed_versions_20170312.txt
/npm_diffs.txt
/installed_npm_Packages_working.txt
/installed_npm_packages.txt
npm-debug.log
