<div>
  <button type="submit" class="btn btn-default btn-xs"
          ng-click="removeDevice(device)" title="remove device" ng-show="device.created">
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
  </button>

  <form name="deviceForm">
    <div class="form-group">
      <span class="label label-default">deviceId<sup ng-hide="device.created">*</sup></span>
      <input type="text" class="form-control" ng-model="device.deviceId" ng-readonly="{{device.created !== undefined}}" required>
    </div>
    <div class="form-group">
      <span class="label label-default">device name<sup ng-hide="device.created">*</sup></span>
      <input type="text" class="form-control" ng-model="device.deviceName" required>
    </div>
    <div class="form-group">
      <span class="label label-default">device type</span>
      <div class="fromgroup-with-button">
        <div class="dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <span class="{{getDeviceTypeIcon(device.deviceType)}}" aria-hidden="true"></span>
            {{device.deviceType ? device.deviceType : "Sensor"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="(typeNo,type) in deviceTypes">
              <a href="" ng-click="selectType(type)">
                <span class="{{getDeviceTypeIcon(type)}}" aria-hidden="true"></span>
                {{type}}
              </a></li>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group">
      <span class="label label-default">device configuration</span>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Parameter</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">i</th>
          <td><input type="text" class="form-control" ng-model="device.deviceConfig.i" required></td>
        </tr>
        <tr>
          <th scope="row">ir</th>
          <td><input type="text" class="form-control" ng-model="device.deviceConfig.ir" required></td>
        </tr>
        <tr>
          <th scope="row">s</th>
          <td><input type="text" class="form-control" ng-model="device.deviceConfig.s" required></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
