<div class="tab-content">
  <div class="form-group">
    <span class="label label-default">device sync state</span>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Parameter</th>
        <th>desired</th>
        <th>reported</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="state in deviceState">
          <th scope="row"><a href="#" editable-text="state.type">{{state.type}}</a></th>
          <td ng-repeat="stateKat in state"><a href="#" editable-text="stateKat">{{stateKat || '-' }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
