<div class="container">

  <!-- DeviceList -->
  <div class="area-static">
    <div class="area-header">
      {{ 'DEVICE_OVERVIEW_HEADLINE' | translate }}
    </div>
    <ng-include src="'views/device-details-settings.html'"></ng-include>
    <!-- Footer Buttons Group -->
    <div>
      <button type="submit" class="btn btn-default" ng-show="device.created" ng-click="save()">{{ 'SAVE_CHANGES' | translate }}
      </button>
      <button type="submit" class="btn btn-default" ng-hide="device.created" ng-click="create()"
              ng-disabled="!deviceForm.$valid">{{ 'CREATE' | translate }}
      </button>
      <button type="submit" class="btn btn-default" ng-click="backToList()">{{ 'CANCEL' | translate }}</button>
    </div>

  </div>

