<div>
  <div>
  <form name="deviceForm">
    <div class="form-group">
      <span class="label label-default">{{ 'DEVICE_ID' | translate }}<sup ng-hide="device.created">*</sup></span>
      <input type="text" class="form-control" ng-model="device.deviceId" ng-readonly="true" required>
    </div>

    <device-editable-fields device="device" added-properties="added"></device-editable-fields>

    <div class="form-group">
      <span class="label label-default">{{ 'DEVICE_CREATED' | translate }}</span>
      <timestamp date="{{device.created}}"></timestamp>
    </div>
    <div class="form-group">
      <span class="label label-default">{{ 'DEVICE_UPDATED' | translate }}</span>
      <timestamp date="{{device.updated}}"></timestamp>
    </div>

  </form>
  </div>
</div>
