<div class="container">

  <!-- DeviceList -->
  <div class="area-static">
    <div class="area-header">
      devices overview
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>device name</th>
        <th>device type</th>
        <th>sync state</th>
        <th>last update of device</th>
        <th>last update of avatar</th>
        <th>open details</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="device in devices">
        <th scope="row">{{device.deviceName}}</th>
        <td>
          <span class="{{getDeviceTypeIcon(device.deviceType)}}" aria-hidden="true"></span>
        </td>
        <td>
          <span ng-show="device.syncState === 'insync'" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          <span ng-show="device.syncState === 'outofsync'" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </td>
        <td>{{device.deviceLastUpdated | date:'dd.MM.yy HH:mm:ss'}}</td>
        <td>{{device.avatarLastUpdated | date:'dd.MM.yy HH:mm:ss'}}</td>
        <td>
          <button type="submit" class="btn btn-default btn-xs"
                  ng-click="openDeviceDetails(device.deviceId, true)" title="show device details">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
