<div class="tab-content" ng-cloak>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <span class="pull-left">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span>{{ 'PAGE_PREV' | translate }}: </span>
      </span>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <span class="pull-right">{{ 'NUM_OF_DATASETS' | translate }}:</span>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <input type="number" class="form-control" ng-model="numOfMessages">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <span class="pull-right">
        <span>{{ 'PAGE_NEXT' | translate }}</span>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </span>
    </div>
  </div>
  <div>
    <hc-chart messages="messages"></hc-chart>
  </div>
<!--  <div>
    <linechart chart-data='{{messages}}'></linechart>
  </div>
  <div>
    <barchart chart-data='{{messages}}'></barchart>
  </div>
-->
  <div class="form-group">
    <div class="message-list">

      <uib-accordion>
        <div uib-accordion-group class="panel-default"  ng-if="messages.length > 0" ng-repeat="message in messages"  is-open="status.open">
          <uib-accordion-heading>
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><timestamp date="{{message.timestamp}}"></timestamp></div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><messageheader message="{{message}}"></messageheader></div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<!--                <blockchain message='{{message._source.deviceMessage}}'></blockchain> -->
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </div>
            </div>
          </uib-accordion-heading>
          <messagecontent message="{{message}}"></messagecontent>
        </div>
      </uib-accordion>

    </div>
  </div>
</div>
