<div class="container">

<!-- device details -->
  <div class="area-header row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
      {{ 'DEVICE_OVERVIEW_HEADLINE' | translate }}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 h4">
      <devicetypeicon device-type='{{device.deviceType}}'></devicetypeicon>
      {{device.deviceType ? device.deviceType : "Sensor"}}:<br> {{device.deviceName}}
    </div>
  </div>
  <div class="area-tabs">
      <ul class="nav nav-tabs">
        <li ng-class="{active: activeTab == 'state'}">
          <a ng-click="activeTab = 'state'">sync state</a>
        </li>
        <li ng-class="{active: activeTab == 'history'}">
          <a ng-click="activeTab = 'history'">history</a>
        </li>
        <li ng-class="{active: activeTab == 'settings'}">
          <a ng-click="activeTab = 'settings'">additional settings</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- state -->
        <div ng-switch="activeTab">
          <div
            ng-switch-when="state">
            <ng-include src="'views/device-details-state.html'"></ng-include>
          </div>
          <div ng-switch-when="history">
            <ng-include src="'views/device-details-history.html'"></ng-include>
          </div>
          <div ng-switch-when="settings">
            <ng-include src="'views/device-details-settings.html'"></ng-include>
          </div>
        </div>
      </div>
  </div>


