<div class="container-fluid">

  <!-- DeviceList -->
    <div class="area-header row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
        {{ 'DEVICES_LIST_HEADLINE' | translate }}
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
        <form>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" title="remove filter"
                      ng-click="search.deviceName = undefined" ng-hide="search.deviceName == undefined">
                <span class="glyphicon glyphicon-remove-sign"></span>
              </button>
            </span>
            <input id="nameInput" ng-model="search.deviceName" type="text" class="form-control" placeholder="filter list..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>

  <div class="row">
    <table class="table table-hover">
      <tbody>
      <tr ng-repeat="device in devices | filter:search" ng-click="openDeviceDetails(device.deviceId)" title="show device details">
        <td>
          <devicetypeicon device-type='{{device.deviceType}}'></devicetypeicon>
        </td>
        <th scope="row">{{device.deviceName}}</th>
        <td>
          <i class="sensor-trustworth-icon {{getDeviceTrustColor(device)}} ion-record"></i>
        </td>
        <td>
          <i ng-show="device.syncState === 'insync'" class="ion-happy-outline"></i>
          <i ng-show="device.syncState === 'outofsync'" class="ion-sad red"></i>
        </td>
        <td ng-if="!fromToday(device.deviceLastUpdated)">{{device.deviceLastUpdated | date:'dd.MM.yy HH:mm:ss'}}</td>
        <td ng-if="fromToday(device.deviceLastUpdated)">{{device.deviceLastUpdated | date:'HH:mm:ss'}}</td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block"
            ng-click="createDevice()" title="add device">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      {{ 'ADD_DEVICE' | translate }}
    </button>
  </div>
</div>
