<div class="container">

  <!-- DeviceList -->
  <div class="area-static">
    <div class="area-header">
      device administration
    </div>
    <div>
      <form name="deviceForm">
        <div class="form-group">
          <span class="label label-default">deviceId<sup ng-hide="device.created">*</sup></span>
          <input type="text" class="form-control" ng-model="device.deviceId" ng-readonly="{{device.created !== undefined}}" required>
        </div>
        <div class="form-group">
          <span class="label label-default">deviceName<sup ng-hide="device.created">*</sup></span>
          <input type="text" class="form-control" ng-model="device.deviceName" required>
        </div>
        <div class="form-group">
          <span class="label label-default">deviceType</span>
          <input type="text" class="form-control" ng-model="device.deviceName" required>
        </div>
      </form>
    </div>

    <!-- Footer Buttons Group -->
    <div>
      <button type="submit" class="btn btn-default" ng-show="device.created" ng-click="save()">save
        changes
      </button>
      <button type="submit" class="btn btn-default" ng-hide="device.created" ng-click="create()"
              ng-disabled="!deviceForm.$valid">create
      </button>
      <button type="submit" class="btn btn-default" ng-click="backToList()">back to list</button>
    </div>
</div>

