<div class="tab-content">
  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-default" ng-show="stateDataChanged" ng-click="saveChanges()">{{ 'SAVE_CHANGES' | translate }}
      </button>
      <button type="submit" class="btn btn-default" ng-show="stateDataChanged" ng-click="discardChanges()">{{ 'CANCEL' | translate }}
      </button>
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th>desired</th>
        <th>reported</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(id,state) in deviceState">
          <th scope="row"><a href="#" editable-text="state.stateKey" onbeforesave="checkChanges($data)">{{state.stateKey}}</a></th>
          <td ng-repeat="stateKat in stateKats">
            <a href="#" editable-text="state.{{stateKat}}" onbeforesave="checkChanges($data)">{{state[stateKat] || '-' }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
