<div class="container">

  <!-- DeviceList -->
  <div class="area-static">
    <div class="area-header">
      {{ 'DEVICE_OVERVIEW_HEADLINE' | translate }}
    </div>
    <div class="h4">
      <span class="{{getDeviceTypeIcon(device.deviceType)}}" aria-hidden="true"></span>
      {{device.deviceType ? device.deviceType : "Sensor"}}: {{device.deviceName}}
    </div>
    <div class="">
      <ul class="nav nav-tabs">
        <li ng-class="{active: activeTab == 'state'}">
          <a ng-click="activeTab = 'state'">state</a>
        </li>
        <li ng-class="{active: activeTab == 'history'}">
          <a ng-click="activeTab = 'history'">history</a>
        </li>
        <li ng-class="{active: activeTab == 'settings'}">
          <a ng-click="activeTab = 'settings'">additional settings</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- state -->
        <div ng-switch="activeTab">
          <div
            ng-switch-when="state">
            <ng-include src="'views/device-details-state.html'"></ng-include>
          </div>
          <div ng-switch-when="history">
            <ng-include src="'views/device-details-history.html'"></ng-include>
          </div>
          <div ng-switch-when="settings">
            <ng-include src="'views/device-details-settings.html'"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </div>


