<div class="container-fluid" ng-cloak>
  <div  class="area-header">
    {{ 'LOGIN_PLEASE' | translate }}
  </div>
  <div ng-repeat="provider in providersList">
    <auth-button
      template="views/templates/social-media-button.html"
      authorization-url="{{provider.redirectUrl}}"
      sign-in-text="{{ 'SIGN_IN_WITH' | translate }} {{provider.name}}"
      button-class="{{getButtonClass(provider.id)}}"
      button-icon-class="{{getButtonIcon(provider.id)}}"
      provider-id="{{provider.id}}">
    </auth-button>
  </div>
</div>
