<div class="container-fluid" ng-cloak>
  <div  class="area-header">
    <span>{{ 'REGISTER_PLEASE' | translate }}</span>
  </div>
  <div style="height:200px" ng-show="!providersList.length">
    <span us-spinner style="position: relative; top: 50%; left: 50%"></span>
  </div>
  <div class="row">
    <div class="center-btn-group">
      <div ng-repeat="provider in providersList">
        <auth-button
          authorization-url="{{provider.redirectUrl}}"
          sign-in-text="{{ 'REGISTER_THROUGH' | translate }} {{provider.name}}"
          button-class="{{getButtonClass(provider.id)}}"
          button-icon-class="{{getButtonIcon(provider.id)}}"
          provider-id="{{provider.id}}"
          registration=true >
        </auth-button>
      </div>
    </div>
  </div>
</div>
