<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelCreateDevice()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">{{ 'ADD_DEVICE' | translate }}</h2>
      </div>

      <div class="modal-body">

        <h4>{{ 'ADD_HWDEVICEID_OPTIONAL' | translate }}</h4>

        <div class="form-group">
          <span class="label label-default">{{ 'HW_DEVICE_ID' | translate }}</span>
          <input type="text" class="form-control" ng-model="newDevice.hwDeviceId">
        </div>
        <div class="form-group">
          <span class="label label-default">{{ 'DEVICE_NAME' | translate }}</span>
          <input type="text" class="form-control" ng-model="newDevice.deviceName" required>
        </div>
        <div class="form-group">
          <span class="label label-default">{{ 'DEVICE_TYPE' | translate }}</span>
          <devicetypelist device-type-key='newDevice.deviceTypeKey'></devicetypelist>
        </div>
        <div class="form-group">
          <span class="label label-default">{{ 'DEVICE_CONFIG' | translate }}</span>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,param) in newDevice.deviceConfig">
              <th scope="row">{{key}}</th>
              <td><input type="text" class="form-control" ng-model="newDevice.deviceConfig[key]" required></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <span class="label label-default">{{ 'DEVICE_PROPERTIES' | translate }}</span>
        </div>
        <div class="form-group">
          <span class="label label-default">{{ 'DEVICE_tags' | translate }}</span>
        </div>
        <div class="form-group">
          <span class="label label-default">{{ 'DEVICE_SUBSCRIPTIONS' | translate }}</span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCreateDevice()">{{ 'CANCEL' | translate }}</button>
        <button type="button" class="btn btn-primary"  ng-click="createDevice()">{{ 'CREATE' | translate }}</button>
      </div>
    </div>
  </div>
</div>

