<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelCreateDevice()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">{{ 'ADD_DEVICE' | translate }}</h2>
      </div>

      <div class="modal-body">

        <h4>{{ 'ADD_HWDEVICEID_OPTIONAL' | translate }}</h4>

        <device-editable-fields device="newDevice" added-properties="addedProperties"></device-editable-fields>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCreateDevice()">{{ 'CANCEL' | translate }}</button>
        <button type="button" class="btn btn-primary"  ng-click="createDevice()">{{ 'CREATE' | translate }}</button>
      </div>
    </div>
  </div>
</div>

